<div class="container">
  <div class="cover-heading">About</div>
  <hr>

  <div class="row">
    <div class="col-md-6 my-auto">
      <h3>Dirección</h3>
      <p>Guatemala, Guatemala</p>

      <p>Número de teléfono</p>
      <p>+502 12341234</p>

      <h3>Email</h3>
      <p> <a href="mailto:test@gmail.com?subject=Contacto" "email me">Email me</a></p>
    </div>

    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d247073.74780414635!2d-90.68839042785352!3d14.6259825433218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85890e0cc0ea78fd%3A0x432eb2b5775c6123!2sHobbitenango!5e0!3m2!1ses-419!2sgt!4v1618205043770!5m2!1ses-419!2sgt" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>